@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rosario:ital,wght@0,300..700;1,300..700&display=swap');


*{
    box-sizing: border-box;
    margin: 0; 
}

html {
    scroll-behavior: smooth;
}






body::-webkit-scrollbar{
    display: none;
}


/* --Imagem Fundo */

#parte1 {
  position: relative; 
   background-size: cover;
  top:0;
  background-position: top left; /* Fundo inicia no topo à esquerda */
  height: 1000px;
  padding-bottom: 40px;
  z-index:2;
}

#manifestacao {
  position: absolute; 
  width: 100vw;
  top: 475px; 
  left: 0;  
  z-index: 1; /* Coloca "manifestação" atrás do fundo */
}

/* --Estilo Menu */

header{
    font-family: Montserrat;
    font-weight: 600;
    padding: 40px 4%;
    color: #fcfcfc;
    font-size: 20px;
    margin-right: 40px;
    
}

#logo{
  margin-left:200px;
}

.container{
 
    max-width: 1280px;
    margin: 0 auto;
   

}

header > .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li{
    display: inline-block;
    margin: 20px;
}

ul li a {
    color: #fefcfc;
    text-decoration-line: none;
    cursor: pointer; 
}

a{
    color: #fefcfc;
    text-decoration-line: none ;
}

a:hover{
    color: #B92020;
    transition: 0.3s all;
}

#elipse {
  position: absolute;
  top: 0; /* Alinha ao topo */
  left: 0; /* Alinha à esquerda */
  margin: 0; /* Remove qualquer espaçamento extra */
  z-index: 1; /* Garante que a elipse fique visível sobre o fundo */
}

#text-timeline {
  font-family: Outfit;
  font-size: 50px;
  font-weight: 450;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  cursor: pointer;
  transition: transform 0.3s ease; /* Suaviza a transformação */
}

#text-timeline:hover {
  transform: translateY(-10px); /* Move o texto para cima */
}

#text-timeline {
  color: rgb(255, 255, 255); /* Initial text color */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

#text-timeline:hover {
  color: #B92020; /* Text color on hover */
}

/* Timeline*/

.hero {
  font-family: Outfit;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-bottom: 350px;
}

.timeline {
  position: relative;
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 65%; /* Aumentei o valor de top para mover a linha um pouco mais para baixo */
  left: 15%;
  right: 15%;
  height: 2px;
  background: #fff;
  transform: translateY(-50%);
}

.period {
  position: relative;
  text-align: center;
}

.date {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  transition: color 0.2s ease-in-out;
}

.circ {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  position: relative;
  z-index: 2; /* Garante que o círculo fique acima da linha */
}

.circ:hover {
  transform: scale(1.2);
  background-color: #F84949;
}

.period .date {
  color: #FFFFFF;
  font-size: 20px;
}

.period:hover .date {
  color: #F84949;
}

/* Linha da timeline que será gerada a partir do círculo */
.period::after {
  content: '';
  position: absolute;
  top: 50%; /* A linha começa no centro do círculo */
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 150px;
  background-color: #fff;
  z-index: 1; /* Linha atrás do box */
  visibility: hidden; /* Oculta a linha por padrão */
}

.tooltip {
  position: absolute;
  top: 120%; /* A posição do box */
  left: 50%;
  transform: translateX(-50%);
  display: none;
  align-items: center;
  z-index: 2; /* Garante que o box fique na frente da linha */
}

.box {
  width: 200px;
  height: auto;
  padding: 10px;
  background: #333;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#img-timeline {
  width: 80%;
  height: auto;
  border-radius: 5px;
}

#text-tml {
  font-size: 20px;
}

.period:hover .tooltip {
  display: flex;
}

.period:hover::after {
  visibility: visible; /* Torna a linha visível ao passar o mouse sobre o círculo */
}

/*TYPE WRITER*/

h1 {
  font-size: 5em;
  color: rgb(56, 0, 0);
  text-transform: uppercase;
}

span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

/* Fim da Timeline*/
#destaques{
  background-color: #FFFFFF;
  height:1000px;
}

#destaque{
  text-align:center;
  font-family: Outfit;
  font-weight: 600;
  font-size: 60px;
  margin-top:480px;
  height:125px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os elementos horizontalmente */
}


.rectangle {
  height: 300px;
  position: relative;
  width: 75%;
  aspect-ratio: 5 / 1; /* Define a proporção largura/altura */
  background-color: rgb(128, 0, 0); /* Cor de fundo de fallback */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 auto; /* Adiciona espaçamento e centraliza */
}



.rectangle img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire rectangle */
  z-index: 1;
}

.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.3); /* Red with low opacity */
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.image-container:hover::after {
  opacity: 1; /* Show the red overlay on hover */
}


.rectangle:hover{
  cursor: pointer; /* Altera o cursor para "mãozinha" */
  transform: scale(1.020); /* Aumenta levemente o tamanho */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra */

}

.text-destaque {
  position: absolute; /* Permite posicionar em relação ao contêiner */
  bottom: 10px; /* Distância da parte inferior */
  right: 10px; /* Distância da parte esquerda */
  z-index: 2; /* Garante que o texto fique acima da imagem */
  color: white; /* Cor do texto */
  font-weight: bold;
  font-size: 45px;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-size: 'Outfit', sans-serif;
}

#artigos {
  margin-left: 400px;
  font-family: Outfit;
  font-weight: 500;
  font-size: 30px;
  margin-top: 60px;
  transition: transform 0.3s ease, text-shadow 0.3s ease; 
}

#artigos:hover {
  transform: scale(1.1); /* Expands the text by 10% */
  text-shadow: 2px 2px 4px rgba(153, 153, 153, 0.767); 
}

/*CARROSSEL*/


/* Seção vermelha mantém a largura total da tela */


.titulo-secao {
  font-family:'Oswald';
  font-size: 30px;
  font-weight: 400;
  text-align: left; /* Mantém o alinhamento à esquerda */
  padding-left: 170px; /* Ajusta o alinhamento ao restante do conteúdo */
}

.carrossel-container {
  display: flex;
   align-items: center;
  justify-content: center; /* Certifica-se de centralizar o carrossel */
  overflow: hidden; /* Garante que os itens excedentes não fiquem visíveis */
  max-width: 1200px; /* Ajusta a largura máxima */
  padding-left:10px;
  margin: 0 auto;
  position: relative;
  padding-left: 30 0 0 0;
}

.carrossel {
   display: flex;
  height:500px;
  gap: 10px; /* Mantém espaço entre os itens */
  transition: transform 0.5s ease-in-out;
  width: max-content; /* Evita que o conteúdo ultrapasse os limites */
  padding-left: 0; /* Remove o deslocamento inicial */

}
 

.carrossel .item {
  background-color: #FFFFFF;
  color: #000; /* Define a cor preta para o texto */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  width: 280px; /* Largura fixa dos cards */
  height: 350px; /* Altura fixa para padronizar */
  text-align: left;
  display: flex; /* Permite alinhar o conteúdo */
  flex-direction: column; /* Ordena verticalmente */
  justify-content: space-between; /* Espaça o conteúdo */
  overflow: visible; /* Deixa o texto visível */
}


.carrossel .item h2, 
.carrossel .item p {
  padding-top: 25px;
    color: #000; /* Altera a cor do texto para preto */
    opacity: 1; /* Garante que o texto esteja completamente visível */
    font-family: 'Outfit', sans-serif;
}

.item{
  margin-top:13px;
}

.item:hover{
  cursor: pointer; /* Altera o cursor para "mãozinha" */
  transform: scale(1.020); /* Aumenta levemente o tamanho */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
    transform: none; /* Remove o efeito de ampliação */
  box-shadow: none;
}

.carrossel .item:hover {
  cursor: pointer; /* Mantém o cursor como "mãozinha" */
  transform: scale(1.02); /* Aumenta levemente o tamanho ao passar o mouse */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
}

.carrossel .item img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 150px; /* Tamanho fixo para a imagem */
  object-fit: cover; /* Corta a imagem mantendo proporção */
}


.carrossel .item h2 {

  font-size: 18px;
  font-weight: 700;
  margin: 10px 0;
  font-family: 'Outfit', sans-serif;
}

.carrossel .item h3 {
  color: #000; /* Garante cor preta para o título */
  padding-right: 3px;
  opacity: 1; /* Mantém o título totalmente visível */
  font-size: 18px;
  margin-top: 0;
  padding-left:2px;
  font-weight:600;
  text-transform: none; /* Remove transformações no texto, se houver */
  width:110%;
  font-family: 'Montserrat', sans-serif;
}



.carrossel .item p {
  font-size: 14px;
  font-family: 'Outfit', sans-serif;
  margin-top: 0px;
  overflow: hidden; /* Esconde texto que ultrapassa */
  text-overflow: ellipsis; /* Adiciona "..." para texto longo */
  display: -webkit-box; /* Combinação para truncar texto */
  -webkit-line-clamp: 3; /* Limita o texto a 3 linhas */
  -webkit-box-orient: vertical;

}

/* Botões de seta */
button {
  position: absolute;
  top: 50%;
  transform: translateY(-160%);
  background-color: #000;
  color: #fff;
  border: none;
  width: 50px;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  z-index: 5; /* Garante que as setas fiquem sempre visíveis */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Destaque visual */
}

.seta-esquerda {
  left: -1px; /* Ajusta a posição para o lado esquerdo do container */
}

.seta-direita {
  right: -1px; /* Ajusta a posição para o lado direito do container */
}

button:hover {
  background-color: #fff;
  color: #000;
}

.fundo-vermelho {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
}

.fundo-branco {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
}
/* fim Carrossel */



#sobrenos{
  height:80vh;
  background-color: #B92020;
  font-family: Outfit;

}

#elipse3{
  position: absolute; 
  right: 0; 
}



#texto-sobrenos {
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  position: relative;
  top: 50px;
  font-size: 64px;
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for color and transform */
}

#texto-sobrenos:hover {
  color: #520101; /* Change text color to red on hover */
  transform: scale(1.1); /* Expand the text by 10% */
}

.infos{
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: flex-start; 
  gap: 20px; /* Adiciona espaço entre os itens */
  margin-top: 30px; /* Ajusta o espaçamento superior */
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0); /* Início na posição normal */
  }
  50% {
    transform: translateY(-15px); /* Move para cima */
  }
  100% {
    transform: translateY(0); /* Volta para a posição inicial */
  }
}

.logo {
  position: relative; 
  width: 200px; 
  height: 200px; 
  margin-left:200px;
  margin-top:140px;
  animation: moveUpDown 3s ease-in-out infinite; /* Aplica a animação */

}

#elipse-branca {
  position: absolute; 
  top: 0; 
  left: 0; 
  z-index: 1;  
  width: 100%; 
  height: auto;
  
}

#logo-gdt {
  position: absolute; 
  top:60px;
  right: 40px; 
  z-index: 2; 
  width: 100%; 
  height: auto;
}


.texto{
  font-size: 23px; /* Ajuste o tamanho do texto para caber bem ao lado */
  width:43vw;
  margin-top:150px;
  color: #faf9f9;
  margin-left:225px;
  line-height: 1.5;

}
/* Rodapé */
footer {
  background-color: #fd0e0e;
  color: white;
  padding: 20px 0;
  width: 100vw; /* Ocupa toda a largura da tela */
  margin-left: calc(-50vw + 50%); /* Alinha com o restante do layout */
  
}

.container-footer {
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Outfit", serif;
  
}


.siga-nos, .suporte, .sobre-nos {
  display: flex;
  flex-direction: column;
  flex:1;
  padding: 0 20px;

}

.siga-nos h3, .suporte h3, .sobre-nos h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

footer ul {
  list-style: none;
  padding: 0;
  display: flex !important;
  flex-direction: column !important;
}

footer ul li {
  margin: 5px 0;
}

footer ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

footer ul li a:hover {
  text-decoration: underline;
}

.social-logo {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  vertical-align: middle;
}

footer hr {
  border: 1px solid white;
  margin: 20px 0;
}

.copyright {
  text-align: left;
  font-size: 14px;
  padding-left: 20px;
  font-family: "Outfit", serif;
}

